iframe {
    height: 80vh;
}

image {
    width: 30%;
}

sinopse {
    width: 50%;
}


.container {
    padding: 0 0 1em 0;
    /* margin-top: .5em; */
    margin: 1em;
    width: 50%;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    text-align: center;
    height: 30%;
    width: 30%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 1.5rem;
    transition: transform .2s;
    margin-top: 5%;
}

.capa {
    width: 100%;
}


.titulo {
    /* font-family: var(--fonte-secundaria); */
    font-size: 1.25rem;
    color: var(--cor-principal-escuro);
    line-height: 1.75rem;
    margin: 1.5rem 0 1.75rem;
}

.descricao {
    color: var(--cor-principal-escuro);
    line-height: 1.75rem;
    margin: 1.5rem 0 1.75rem;
}
