.card {
    text-align: center;
    height: 30%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 1.5rem;
    transition: transform .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.capa {
    width: 300px;
    border-radius: 1rem;
}

.descricao {
    color: var(--cor-principal-escuro);
    line-height: 1.75rem;
    margin: 1.5rem 0 1.75rem;
}

.releaseDate {
    opacity: 0.5;
}

.detalhes {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: 50%;
}